@page "/C_pagos"
@inject PagosBLL pagosBLL

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consultas de pago</h3>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <button type="button" class="btn btn-warning" @onclick="Buscar">Generar</button>
                </div>
            </form>
        </div>

        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PagosId</th>
                    <th>Fecha</th>
                    <th>PersonaId</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.PagoId</td>
                        <td>@item.Fecha</td>
                        <td>@item.PersonaId</td>
                        <td>@item.Concepto</td>
                        <td>@item.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {
    public Pagos  pago {set;get;}= new Pagos();
    public string Filtro{ get; set; }
    public string Criterio{ get; set; }

    public List<Pagos> lista { get; set; } = new List<Pagos>();
 
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    
     
    private void Buscar()
    {
        lista = pagosBLL.GetList(o => true);
    }

}